site_name: "Pi-hole documentation for v4.0+"
site_url: https://docs.pi-hole.net
repo_url: "https://github.com/pi-hole/pi-hole/"
edit_uri: ""
copyright: 'Copyright &copy; 2018 Pi-hole LLC'
remote_branch: gh-pages
theme:
  name: 'material'
  favicon: 'images/favicon.png'
  language: 'en'

markdown_extensions:
# Code highlighting in ``` ``` blocks
  - codehilite(guess_lang=true)
# Table of Contents
  - toc(permalink=true)
# block-styled side content
  - admonition
# linkafies URL and email links without having to wrap them in Markdown syntax. Also, allows shortens repository issue, pull request, and commit links.
  - pymdownx.magiclink
# Task lists (https://facelessuser.github.io/pymdown-extensions/extensions/tasklist/)
  - pymdownx.tasklist(custom_checkbox=true)
# Highlight words with ==mark me==
  - pymdownx.mark
# Adds support for deletion ~~Delete me~~ and subscript text~a\ subscript~
  - pymdownx.tilde
# This extension is a convenience extension, and it currently provides no other additional features
  - pymdownx.extra
# Adds syntax for defining footnotes in Markdown documents (https://python-markdown.github.io/extensions/footnotes/)
  - footnotes
# Adds the ability to define abbreviations
  - abbr
# Include files in other documents like {!some/dir/in/docs/filename.md!}
  - markdown_include.include(base_path=docs)
pages:
- 'Overview & Support': 'index.md'
- 'Getting Started':
  - 'Prerequisites': 'main/prerequesites.md'
  - 'Installation': 'main/basic-install.md'
  - 'Post-Install': 'main/post-install.md'
  - 'Updating': 'main/update.md'
- 'FTLDNS':
  - 'Overview': "ftldns/index.md"
  - 'Configuration': "ftldns/configfile.md"
  - 'DNS resolver': "ftldns/dns-resolver.md"
  - 'Blocking mode': "ftldns/blockingmode.md"
  - 'RegEx blocking': "ftldns/regex.md"
  - 'Privacy levels': "ftldns/privacylevels.md"
  - 'Long-term database': "ftldns/database.md"
  - 'Telnet API': "ftldns/telnet-api.md"
  - 'Compatibility': "ftldns/compatibility.md"
  - 'Install from source': "ftldns/compile.md"
  - 'Debugging FTLDNS': "ftldns/debugging.md"
  - 'In-depth manual': "ftldns/in-depth.md"
- 'Guides':
  - 'Pi-hole as All-Around DNS Solution': guides/unbound.md
  - 'Configuring DNS-Over-HTTPS on Pi-hole': guides/dns-over-https.md
  - 'Pi-hole and OpenVPN Server':
    - 'Overview': 'guides/vpn/overview.md'
    - 'Installation': 'guides/vpn/installation.md'
    - 'Setup OpenVPN Server': 'guides/vpn/setup-openvpn-server.md'
    - 'Firewall Configuration': 'guides/vpn/firewall.md'
    - 'Connecting clients':
      - 'General': 'guides/vpn/clients.md'
      - 'Android': 'guides/vpn/android-client.md'
    - 'Optional: Only route DNS via VPN': 'guides/vpn/only-dns-via-vpn.md'
    - 'Optional: Dual operation: LAN & VPN at the same time': 'guides/vpn/dual-operation.md'
    - 'Optional: Dynamic DNS': 'guides/vpn/dynDNS.md'
extra:
  social:
    - type: globe
      link: https://pi-hole.net
    - type: github-alt
      link: https://github.com/pi-hole
extra_css: [extra.css]
