Babel==2.8.0
Click==7.0
gitdb2==3.0.2
GitPython==3.0.7
htmlmin==0.1.12
Jinja2==2.11.1
jsmin==2.2.2
livereload==2.6.1
Markdown==3.2.1
markdown-include==0.5.1
MarkupSafe==1.1.1
mkdocs==1.0.4
mkdocs-git-revision-date-localized-plugin==0.4.6
mkdocs-material==4.6.3
Pygments==2.5.2
pymdown-extensions==6.3
pytz==2019.3
PyYAML==5.3
six==1.14.0
smmap2==2.0.5
tornado==6.0.3
