body,
input {
    color: #000;
}

.md-nav {
    font-size: 14px;
    line-height: 1.4;
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.5;
}

.md-typeset code,
.md-typeset pre {
    white-space: pre-wrap;
    color: #532ba8;
}

@media only screen and (max-width: 76.1875em) {
    .md-logo img {
        width: auto;
        height: 48px;
    }
}
