@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
.md-nav {
    font-size: 14px;
    line-height: 1.4;
}
.md-typeset {
    font-size: 14px;
    line-height: 1.5;
}
body, input {
    font-family: "Source Sans Pro", "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
}
.md-typeset code, .md-typeset pre {
    display: inline-block;
    white-space: pre-wrap;
    color: rgb(83, 43, 168);
}
