name: Compress Images

on:
  pull_request:
    paths:
      - '**.jpg'
      - '**.jpeg'
      - '**.png'
      - '**.webp'

jobs:
  build:
    # Only run on Pull Requests within the same repository, and not from forks.
    if: github.event.pull_request.head.repo.full_name == github.repository
    name: calibreapp/image-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4.1.7

      - name: Compress Images
        uses: calibreapp/image-actions@1.1.0 # TODO: if they start using a tag like v1, switch to that
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
