name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

env:
  FORCE_COLOR: 2
  NODE: 20
  PYTHON_VERSION: "3.11"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"
          architecture: "x64"
          cache: pip

      - name: Set up Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: "${{ env.NODE }}"
          cache: npm

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Install npm dependencies
        run: npm ci

      - name: Build docs
        run: mkdocs build --strict

      - name: Test
        run: npm test
